﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ClientMaster.master.cs" Inherits="ATelBPOCRM.ClientMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="icon" href="~/backend/fav-icon.png" type="image/ico" sizes="16x16" />
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/backend/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/backend/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/backend/plugins/Ionicons/css/ionicons.min.css" />
    <link href="~/backend/icomoon/styles.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/backend/dist/css/AdminLTE.min.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/backend/dist/css/skins/_all-skins.min.css" />
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/backend/plugins/morris.js/morris.css" />
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/backend/plugins/jvectormap/jquery-jvectormap.css" />
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/backend/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/backend/plugins/bootstrap-daterangepicker/daterangepicker.css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/backend/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
    <!-- select2 -->
    <link href="~/backend/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- dataTable -->
    <link href="~/backend/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- custom -->
    <link href="~/backend/simptip.min.css" rel="stylesheet" />
    <link href="~/backend/custom.css" rel="stylesheet" />
    <link href="~/backend/toaster/toastr.min.css" rel="stylesheet" />
    <link href="~/backend/dtPagination.css" rel="stylesheet" />
    <!-- toggle switch -->
    <link href="~/backend/toggle-switch/css/switcher.css" rel="stylesheet" />
    <!-- fancybox -->
    <link href="~/backend/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <!-- // fancybox -->

    <!-- Google Font -->
    <link rel="stylesheet" href="~/backend/cdn/google-font.css" />
    <!-- jQuery 3 -->
    <script src="<%= BasePath %>backend/plugins/jquery/dist/jquery.min.js"></script>
    <script src="<%= BasePath %>backend/toaster/toastr.min.js"></script>
    <script src="<%= BasePath %>backend/toaster/toasterCustom.js"></script>
    <!-- sweet alert -->
    <script src="<%= BasePath %>backend/cdn/sweetalert2@8.js"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
    <script src="<%= BasePath %>backend/cdn/polyfill.js"></script>
    <!-- // custom -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="<%= BasePath %>backend/cdn/html5shiv.min.js"></script>
        <script src="<%= BasePath %>backend/cdn/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        #pnlPause, #pnlAgencyStatus {
            display: inline;
        }

        .display {
            width: 100% !important;
        }

        .dataTables_empty {
            display: none;
        }
    </style>
    <%-- <script type="text/javascript">
        var message = "Function Disabled!";

        function clickIE4() {
            if (event.button == 2) {
                alert(message);
                return false;
            }
        }
        function clickNS4(e) {
            if (document.layers || document.getElementById && !document.all) {
                if (e.which == 2 || e.which == 3) {
                    alert(message);
                    return false;
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = clickNS4;
        }
        else if (document.all && !document.getElementById) {
            document.onmousedown = clickIE4;
        }
        document.oncontextmenu = new Function("return false");
    </script> --%>

    <script type="text/javascript">
        $(document).keydown(function (event) {
            if (event.keyCode == 123) { // Prevent F12
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                return false;
            }
        });
    </script>
    <style type="text/css">
        .content-header {
            box-shadow: none !important;
        }

        .skin-green .main-header .logo {
            background-color: #539bd5 !important;
        }

        .skin-green .main-header .navbar {
            background: linear-gradient(60deg, #55a0d9, #202e79);
        }

        .main-footer {
            border-top: 0px !important;
        }

        .wrapper {
            background-color: #fff !important;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<%-- <body class="hold-transition skin-green sidebar-mini"> --%>
<body class="skin-green fixed sidebar-mini sidebar-mini-expand-feature" style="height: auto; min-height: 100%;">
    <form id="form1" runat="server" autocomplete="off">
        <div class="wrapper">
            <% if (Session["Role"] != null && (Session["Role"].ToString() == "Agency Owner" || Session["Role"].ToString() == "Agency Producer" || Session["Role"].ToString() == "Account Head" || Session["Role"].ToString() == "Account Manager"))
                { %>
            <div class="col-md-1" style="padding-left: 0px !important; padding-right: 0px !important; background: #fff !important; padding-bottom: 5px !important;">
                <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Owner")
                    { %>
                <a href="LivePNP.aspx">
                    <img src="backend/dist/img/mav-agent.jpg" class="img-responsive" alt="MAVERICK Leads" style="height: 90px; margin-left: 17%;" />
                </a>
                <% } %>
                <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Producer")
                    { %>
                <a href="ProducerLivePNP.aspx">
                    <img src="backend/dist/img/mav-agent.jpg" class="img-responsive" alt="MAVERICK Leads" style="height: 90px; margin-left: 17%;" />
                </a>
                <% } %>
                <% if (Session["Role"] != null && Session["Role"].ToString() == "Account Head")
                    { %>
                <a href="AccountHeadLivePNP.aspx">
                    <img src="backend/dist/img/mav-agent.jpg" class="img-responsive" alt="MAVERICK Leads" style="height: 90px; margin-left: 17%;" />
                </a>
                <% } %>
                <% if (Session["Role"] != null && Session["Role"].ToString() == "Account Manager")
                    { %>
                <a href="AccountManagerLivePNP.aspx">
                    <img src="backend/dist/img/mav-agent.jpg" class="img-responsive" alt="MAVERICK Leads" style="height: 90px; margin-left: 17%;" />
                </a>
                <% } %>
            </div>
            <div class="col-md-11" style="padding-left: 0px !important; padding-right: 0px !important;">
                <header class="main-header" style="position: relative;">
                    <!-- Logo -->
                    <a href="javascript:;" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <%--<span class="logo-mini"><b>M</b>L</span>--%>
                        <!-- logo for regular state and mobile devices -->
                        <%--<span class="logo-lg"><b>MAVERICK</b>&nbsp;LEADS</span>--%>
                    </a>
                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top">
                        <!-- Sidebar toggle button-->
                        <%-- <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>--%>
                        <div class="col-md-6">
                            <asp:Panel ID="pnlPause" runat="server" Visible="False" Style="float: right; margin-top: 11px">
                                &nbsp;&nbsp;&nbsp;Accept :
                        <asp:CheckBox ID="chkAccept" CssClass="form-check-input" runat="server" />
                            </asp:Panel>
                        </div>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- Notifications: style can be found in dropdown.less -->
                                <% if (Session["Role"] != null && (Session["Role"].ToString() == "Agency Producer" || Session["Role"].ToString() == "Agency Owner" || Session["Role"].ToString() == "Account Head" || Session["Role"].ToString() == "Account Manager"))
                                    { %>
                                <li class="dropdown notifications-menu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" id="notify">
                                        <i class="fa fa-bell"></i>
                                        <span class="label label-danger" style="font-size: 12px;">
                                            <asp:Literal ID="ltNotification" Text="" runat="server"></asp:Literal>
                                        </span>
                                    </a>
                                </li>
                                <% } %>
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <%--<img src="/backend/dist/img/mav-agent.jpg" class="user-image" alt="User Image" />--%>
                                        <span class="user-image" style="background: #333 !important;">
                                            <span style="margin-left: 9px; vertical-align: middle;">
                                                <asp:Literal ID="ltShortName" runat="server"></asp:Literal>
                                            </span>
                                        </span>
                                        <span class="hidden-xs">
                                            <asp:Literal ID="ltName" runat="server"></asp:Literal>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Owner")
                                            { %>
                                        <!-- User image -->
                                        <li class="user-header" style="height: 190px !important;">
                                            <p>
                                                <asp:Label ID="ltAgName" runat="server" Font-Bold="True"></asp:Label>
                                            </p>
                                            <hr />
                                            <p>
                                                <a href="UserManagement.aspx" style="color: #fff;">User Management</a>
                                            </p>
                                            <p>
                                                <a href="ChangePassword.aspx" style="color: #fff;">Change Password</a>
                                            </p>
                                            <p>
                                                <a href="Logout.aspx" style="color: #fff;">Log Out</a>
                                            </p>
                                        </li>
                                        <%--</ul>--%>
                                        <% } %>
                                        <% if (Session["Role"] != null && (Session["Role"].ToString() == "Agency Producer" || Session["Role"].ToString() == "Account Head" || Session["Role"].ToString() == "Account Manager"))
                                            { %>
                                        <!-- User image -->
                                        <li class="user-header" style="height: 190px !important;">
                                            <p>
                                                <asp:Label ID="lblSPName" runat="server" Font-Bold="True"></asp:Label>
                                            </p>
                                            <hr />
                                            <p>
                                                Role: <span class="label label-success">
                                                    <asp:Literal ID="ltPRole" runat="server"></asp:Literal></span>
                                            </p>
                                            <p>
                                                <a href="ChangePassword.aspx" style="color: #fff;">Change Password</a> | <a href="Logout.aspx" style="color: #fff;">Log Out</a>
                                            </p>
                                        </li>
                                        <%--</ul>--%>
                                        <% } %>
                                        <% if (Session["Role"] != null && (Session["Role"].ToString() == "Super Admin" || Session["Role"].ToString() == "Manager" || Session["Role"].ToString() == "CSE/ Agent" || Session["Role"].ToString() == "Team Lead"))
                                            { %>
                                        <%-- <ul class="dropdown-menu">--%>
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="/backend/dist/img/mav-agent.jpg" class="img-circle" alt="User Image" />
                                            <p>
                                                <asp:Literal ID="ltUName" runat="server"></asp:Literal>
                                            </p>
                                            <p>
                                                Role: <span class="label label-success">
                                                    <asp:Literal ID="ltRole" runat="server"></asp:Literal></span>
                                            </p>
                                        </li>
                                        <!-- Menu Body -->
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <%--  <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>--%>
                                            <div class="pull-right">
                                                <a href="Logout.aspx" class="btn btn-default btn-flat">Sign out</a>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>
                                </li>
                                <li style="margin-top: 15px; margin-right: 10px;">
                                    <asp:Panel ID="pnlAgencyStatus" runat="server" Visible="False">
                                        <a href="#" data-toggle="control-sidebar" style="color: #f0f0f0"><i class="fa fa-gears"></i></a>
                                    </asp:Panel>
                                </li>
                                <!-- Control Sidebar Toggle Button -->
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Owner")
                        { %>
                            <a href="LivePNP.aspx" style="font-weight:bold;" class="navLinkAgency">Auto Leads</a>
                            &nbsp;|&nbsp;
                            <a href="AgencyLivePingPulseHome.aspx" style="font-weight:bold;" class="navLinkAgencyH">Home Leads</a>
                    <% } %>

                    <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Producer")
                        { %>
                            <a href="ProducerLivePNP.aspx" style="font-weight:bold;" class="navLinkProducer">Auto Leads</a>
                            &nbsp;|&nbsp;
                            <a href="ProducerLivePingPulseHome.aspx" style="font-weight:bold;" class="navLinkProducerH">Home Leads</a>
                    <% } %>
                    <%-- <ol class="breadcrumb">
                        <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Owner")
                           { %>
                        <li><a href="LivePNP.aspx" style="font-weight: bold;"><i class="fa fa-bar-chart"></i>&nbsp;Live Transfers & Ping N' Post Leads</a></li>
                        <% } %>

                        <% if (Session["Role"] != null && Session["Role"].ToString() == "Agency Producer")
                           { %>
                        <li><a href="ProducerLivePNP.aspx" style="font-weight: bold;"><i class="fa fa-bar-chart"></i>&nbsp;Live Transfers & Ping N' Post Leads</a></li>
                        <% } %>
                    </ol>--%>
                </section>
            </div>
            <% } %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="margin-left: 0px !important; margin-top: 40px !important;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.4.0
                </div>
                <strong>Copyright &copy; <%= DateTime.Now.Year %> <a href="atelbpo.com">A Tel BPO</a>.</strong> All rights reserved.
            </footer>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <p class="text-center" style="font-weight: bold; background: #00a65af5; padding: 10px; color: #f0f0f0">Agency Status</p>
                <ul class="">
                    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>
                            <asp:Literal ID="ltAgencyStatus" runat="server"></asp:Literal>
                            <asp:Timer ID="Timer1" runat="server" Interval="5000" OnTick="Timer1_OnTick"></asp:Timer>
                        </ContentTemplate>
                        <Triggers>
                            <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick"></asp:AsyncPostBackTrigger>
                        </Triggers>
                    </asp:UpdatePanel>
                </ul>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->
    </form>
    <!-- jQuery UI 1.11.4 -->
    <script src="<%= BasePath %>backend/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="<%= BasePath %>backend/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- select2 -->
    <script src="<%= BasePath %>backend/plugins/select2/dist/js/select2.full.min.js"></script>
    <!-- Morris.js charts -->
    <script src="<%= BasePath %>backend/plugins/raphael/raphael.min.js"></script>
    <%--<script src="<%= BasePath %>backend/plugins/morris.js/morris.min.js"></script>--%>
    <!-- Sparkline -->
    <%--<script src="<%= BasePath %>backend/plugins/jquery-sparkline/dist/jquery.sparkline.min.js"></script>--%>
    <!-- jvectormap -->
    <%--<script src="<%= BasePath %>backend/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>--%>
    <%--<script src="<%= BasePath %>backend/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>--%>
    <!-- jQuery Knob Chart -->
    <%--<script src="<%= BasePath %>backend/plugins/jquery-knob/dist/jquery.knob.min.js"></script>--%>
    <!-- daterangepicker -->
    <script src="<%= BasePath %>backend/plugins/moment/min/moment.min.js"></script>
    <%--<script src="<%= BasePath %>backend/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>--%>
    <!-- datepicker -->
    <script src="<%= BasePath %>backend/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <!-- Input Mask -->
    <%-- <script src="<%= BasePath %>backend/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="<%= BasePath %>backend/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="<%= BasePath %>backend/plugins/input-mask/jquery.inputmask.extensions.js"></script>--%>
    <!--// Input Mask -->

    <!-- toggle switch -->
    <script src="<%= BasePath %>backend/toggle-switch/js/jquery.switcher.min.js"></script>

    <!-- Bootstrap WYSIHTML5 -->
    <script src="<%= BasePath %>backend/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- datTable -->
    <%--<script src="<%= BasePath %>backend/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="<%= BasePath %>backend/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="<%= BasePath %>backend/cdn/dataTables.buttons.min.js"></script>
    <script src="<%= BasePath %>backend/cdn/jszip.min.js"></script>
    <script src="<%= BasePath %>backend/cdn/pdfmake.min.js"></script>
    <script src="<%= BasePath %>backend/cdn/vfs_fonts.js"></script>
    <script src="<%= BasePath %>backend/cdn/buttons.html5.min.js"></script>
    <script src="<%= BasePath %>backend/cdn/buttons.colVis.min.js"></script>--%>
    <!-- // datTable -->
    <!-- Slimscroll -->
    <script src="<%= BasePath %>backend/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="<%= BasePath %>backend/plugins/fastclick/lib/fastclick.js"></script>
    <script src="<%= BasePath %>backend/fancybox/jquery.fancybox.min.js"></script>
    <!-- AdminLTE App -->
    <script src="<%= BasePath %>backend/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <%--<script src="<%= BasePath %>backend/dist/js/pages/dashboard.js"></script>--%>
    <!-- AdminLTE for demo purposes -->
    <script src="<%= BasePath %>backend/dist/js/demo.js"></script>
    <%--<script src="<%= BasePath %>backend/dist/js/AdminLTE-app.js"></script>--%>

    <script type="text/javascript">
        var url = window.location;
        // for sidebar menu but not for treeview submenu
        $('ul.sidebar-menu a').filter(function () {
            return this.href == url;
        }).parent().siblings().removeClass('active').end().addClass('active');
        // for treeview which is like a submenu
        $('ul.treeview-menu a').filter(function () {
            return this.href == url;
        }).parentsUntil(".sidebar-menu > .treeview-menu").siblings().removeClass('active menu-open').end().addClass('active menu-open');
    </script>
    <script>
        $.switcher();</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#<%= chkAccept.ClientID %>').click(function () {
                var accept = false;
                var message = "";
                if ($(this).prop("checked") == true) {
                    accept = true;
                    message = "On";
                }
                else if ($(this).prop("checked") == false) {
                    accept = false;
                    message = "Off";
                }

                $.ajax({
                    url: "LeadAcceptance.asmx/CheckAcceptance",
                    data: '{accept:' + accept + '}',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (response.d == false) {
                            errorMsg('Oops Something Went Wrong.');
                        }
                        if (response.d == true) {
                            infoMsg('Leads are ' + message + '.');
                        }
                    }
                });
                return true;
            });
        });
    </script>
    <script type="text/javascript">
        var pathName = window.location.pathname;
        if (pathName == '/LivePNP.aspx') {
            $('.navLinkAgency').css('border-bottom', '2px solid #56af5a');
        }
        if (pathName == '/AgencyLivePingPulseHome.aspx') {
            $('.navLinkAgencyH').css('border-bottom', '2px solid #14bace');
        }
        if (pathName == '/ProducerLivePNP.aspx') {
            $('.navLinkProducer').css('border-bottom', '2px solid #56af5a');
        }
        if (pathName == '/ProducerLivePingPulseHome.aspx') {
            $('.navLinkProducerH').css('border-bottom', '2px solid #14bace');
        }
    </script>
    <asp:ContentPlaceHolder ID="footer" runat="server"></asp:ContentPlaceHolder>
</body>
</html>

