﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViciData.aspx.cs" Inherits="ATelBPOCRM.ViciData1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Vici Lead Data</title>
    <link href="backend/toaster/toastr.min.css" rel="stylesheet" />
    <script src="backend/plugins/jquery/dist/jquery.min.js"></script>
    <script src="backend/toaster/toastr.min.js"></script>
    <script src="backend/toaster/toasterCustom.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
