.mt-3 {
    margin-top: 30px;
}


button.dt-button, div.dt-button, a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: -2px !important;
    padding: 0.5em 1em;
    border: none !important;
    border-radius: 0px !important;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #6C757D !important;
    background-image: none !important;
    color: white !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd !important;
}


    .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        /* color: white !important; */
        border: 1px solid black !important;
        background: none !important;
        z-index: 3 !important;
        color: #fff !important;
        cursor: default;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }

.dataTables_paginate:hover .paginate_button:hover {
    box-sizing: border-box;
    /* display: inline-block; */
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent !important;
    background: #ddd !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #979797 !important;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}


.dataTables_wrapper .dataTables_paginate {
    position: relative;
    padding: 0px 0px !important;
    /* margin-left: -1px; */
    /* line-height: 1.42857143; */
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd !important;
}
